h1, caption {
    color: #2563eb;
}

.button {
    background-color: #1e40af;
}

table {
    background-color: #ffffff;
}

body {
    background-color: #f8fafc;
    color: #0f172a;
}   

th, td {
    border: 1px solid #cbd5e1;
}